<br>
 <!-- Stats Cards -->
    <div class="row g-4 mb-4">
        <div class="col-md-3">
            <div class="card p-3">
                <small class="text-muted">Total Tasks</small>
                <h3 class="fw-bold">{{total_task}}</h3>
                <small class="text-muted">All assigned tasks</small>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3">
                <small class="text-muted">Pending</small>
                <h3 class="fw-bold">{{pending}}</h3>
                <small class="text-muted">Not started</small>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3">
                <small class="text-muted">In Progress</small>
                <h3 class="fw-bold">{{in_progress}}</h3>
                <small class="text-muted">Currently working</small>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3">
                <small class="text-muted">Completed</small>
                <h3 class="fw-bold">{{completed}}</h3>
                <small class="text-success">Finished tasks</small>
            </div>
        </div>
    </div>